
    body {
        background: rgb(213,178,255);
        background: linear-gradient(90deg, rgba(213,178,255,1) 11%, rgba(194,245,255,1) 84%);
        transition: background 0.5s ease-in-out;

    }    
table, th, td {
    border: 2px solid rgb(225, 0, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
  }

.break{
    background-color: yellow;
    color: black;
}

td:hover{
    background-color: cornsilk;
    color: rgb(76, 0, 255);
    font-weight: 900;
    width: 40%;
    height: 40%;
    font-size: 30px;
    transition-delay: 250ms;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider{
    background-color: #21f356;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .togandtext{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }
